.body{
    font-family: 'Courier New', Courier, monospace;
}

.container{
    display: grid;
    height: auto;
    grid-template-rows: 75px 50px 500px 250px 350px;
    grid-template-columns: repeat(4,1fr);
}

.container,.item{
    border: 2px solid black;
}
.item-1,.item-2,.item-10{
    grid-column: 1/5;
}

.item-4{
    grid-area: 3 /2 /3 /4;
}